@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    @apply font-sans;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container-auto {
    @apply container mx-auto;
}

.bold-orange {
    @apply font-bold text-orange-3;
}

.-top-120 {
    top: -300%;
}

#app {
    position: relative;
}

.h2 {
    @apply text-3xl font-bold text-black-1;
}

.h3 {
    @apply text-2xl font-bold text-black-1;
}

.input {
    @apply mt-2 block px-3 py-2 w-full bg-white-1 border-2 border-white-4 rounded-md focus:border-orange-3 focus:outline-none transition-colors duration-300;
}

.border-1 {
    border: 1px solid #8ea3f8;
}

/* scroll styling */
body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    @apply bg-white-3;
}

body::-webkit-scrollbar-thumb {
    @apply bg-orange-1;
    border-radius: 24px;
}

.sidebar::-webkit-scrollbar-track {
    @apply bg-blue-1;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #d1dbff;
    border-radius: 24px;
}
